body {
    color: #333;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1em;
}

h1 {
    font-size: 2rem;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.instructions {
    max-width: 21em;
    font-size: 1rem;
    color: #666;
    margin: 0 auto;
    padding-bottom: 1em;
}

p, button {
    margin: 0.3em;
    padding: 0.3em 0.6em;
    font-size: 1.2rem;
    border-radius: 0.4em;
}

.players > p {
    display: inline-block;
}

.player-one.active-player {
    background-color: rgb(255,0,0,0.7);
    color: white;
    transition: all 0.4s linear;
}

.player-two.active-player {
    background-color: rgb(0,0,255,0.7);
    color: white;
    transition: all 0.4s linear;
}

.master-board {
    display: flex;
    flex-wrap: wrap;
    width: 21em;
    height: 21em;
    margin: 1em auto;
}

.inner-board {
    display: flex;
    flex-wrap: wrap;
    width: calc(100%/3);
    height: calc(100%/3);
    border: 1px solid #000;
}

.cell {
    width: calc(100%/3);
    height: calc(100%/3);
    border: 1px solid rgb(220, 220, 220);
    font-size: 2rem;
    cursor: pointer;
}

.winner-section {
    display: none;
}

button:hover {
    background-color: #333;
    color: white;
}

.cross, .nought, .draw {
    width: 6.9em;
    height: 6.9em;
    position: absolute;
}

.cross {
    background-color: rgb(255,0,0,0.4);
}

.nought {
    background-color: rgb(0,0,255,0.4);
}

.draw {
    background-color: rgb(0,0,0,0.4);
}